
.product-detail{
    background-color: white;
    opacity: 85%; 
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    margin-right: 4px; 
}

.closetHeader{
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 10px; 
    margin-top: 10px; 
    font-size: 25px; 
}

.logo{
margin-right: 60px; 
}

.btn-discard{
    background-color: #AFBCCF;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    color: #5E5E5E; 
    font-weight: bold; 
  }
  
  .btn-add{
    background-color: #D2AF9E;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    color: #5E5E5E; 
    font-weight: bold; 
  }
  
  .add-button:hover{
    opacity: 80%;
  }
  
  .add-button:active{
    opacity: 50%; 
  }

.product-color{
    background-color: white;
    opacity: 85%; 
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    margin-right: 4px; 
}